

html, body {
    min-height: 100vh;
    background-image: linear-gradient(lightblue, lightgrey);
    font-family: 'Comfortaa', sans-serif;
    font-size: 100%;
}

.custom-block {
    border-bottom: 1px solid lightgrey;
}
